.tabs-navigator {
  &--menu {
    position: sticky;
    top: $padding;
    background: var(--content-color);
    border-radius: $radius;
    padding: $padding;
    display: flex;
    gap: $padding;
    &__item {
      display: block;
      width: 100%;
      &.active {
        background: var(--container-color);
        color: var(--content-color);
      }
    }
  }
  &--sections {
    &__item:not(.active) {
      display: none;
    }
  }
}
.product-item {
  padding: $margin;
  background: var(--container-gradient);
  border-radius: $radius;
  margin: $margin 0;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: $padding;
  box-shadow: $shadow;
  h1 {
    font: var(--font-content);
  }
  p {
    font: var(--font-metadata);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    .warning,
    .error {
      font-weight: bold;
    }
    .warning {
      color: var(--warning-color);
    }
    .error {
      color: var(--error-color);
    }
  }
  &__cover {
    $size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    background: var(--container-color);
    border-radius: $radius;
    font-size: 30px;
    &.warning {
      background: var(--warning-color);
    }
    &.error {
      background: var(--error-color);
    }
  }
}

.main-footer {
  padding: 0 $margin;
  display: flex;
  justify-content: center;
  background: var(--container-color);
  border-radius: $radius * 2 $radius * 2 0 0;
  position: sticky;
  bottom: 0;
}

.big-button {
  --size: 80px;
  position: relative;
  bottom: calc(var(--size) / 3 + #{$padding});
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--content-color);
  font-size: 30px;
  box-shadow: $radiance;
}
.grid,
.grid-left,
.grid-right {
  display: grid;
  grid-template-columns: 1fr 30% auto;
  gap: 1em;
  > label {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

.modal-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $margin;
  padding: $margin;
  background: var(--container-color);
  border-radius: $radius * 2;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(#000, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  &__container {
    width: 100%;
    height: fit-content;
    border-radius: $radius;
    background: var(--container-color);
    padding: $padding;
  }
}

.tabs-sections-container {
  > :not(.active) {
    display: none;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: $padding;
  button,
  .button {
    margin: 0;
  }
  &.invert {
    flex-direction: row-reverse;
  }
}
