#barcodecanvasg,
#barcodevideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#barcodevideo {
  object-fit: cover;
}

#barcode {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#barcodecanvas {
  display: none;
}
