.main-navigator {
  padding: $padding * 2 $padding;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1em;
  button {
    margin: 0;
  }
  h1 {
    margin: 0;
    text-align: center;
  }
}
.main-header {
  padding: $padding * 2;
}
.dashboard {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.modal-page {
  background: var(--content-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  &__header {
    color: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 3em $padding;
    a {
      text-decoration: none;
      color: var(--bg-color);
      font-size: var(--fs-up-content);
    }
    h1 {
      font-weight: bold;
      font-size: var(--fs-up-content);
      width: 100%;
      text-align: center;
    }
  }
  &__content {
    padding: $padding * 2;
    background: var(--bg-color);
    border-radius: $radius;
  }
}

.capture-page {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  &__viewport {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
    canvas {
      display: none;
    }
    video {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background: #49d019;
      animation: laser 3s linear infinite;
      position: absolute;
      top: 0;
      @keyframes laser {
        50% {
          top: 90%;
        }
      }
    }
  }
}
